@charset "UTF-8";
/* couleur*/
/*polices*/
/*media-queries*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box; /* prise en compte par le navigateur de la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur*/
}

body, html {
  margin: 0;
  min-width: 300px; /*largeur minimale de l'ensemble*/
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px; /* taille de la police sur l'élément*/
}

@media screen and (min-width: 1440px) {
  .container {
    margin: auto;
    max-width: 1440px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
} /*  tous les liens sans soulignement avec la petite main, et de couleur de l'élément parent*/
h3, h4, p {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  padding: 20px 0;
  box-shadow: 0px 2px 2px 1px #f3f3f3;
  position: relative;
}
header h1 {
  display: flex;
  margin: auto;
}

#logo {
  width: 150px;
  justify-content: center;
  margin: auto;
}

footer {
  position: absolute;
  width: 100%;
  background-color: rgb(10, 9, 9);
  color: azure;
  padding: 20px 0 40px 25px;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  footer h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}
footer .end {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 10px;
  font-size: 20px;
}
footer .end span {
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  footer .end {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }
}
footer .end .fa {
  font-size: 16px;
}
footer .end .fa.fa-utensils {
  margin-right: 16px;
}
footer .end .fa.fa-handshake-angle {
  margin-right: 10px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px 0 10px 15px;
}
.input__icon {
  font-size: 16px;
  padding: 8px 10px;
  color: rgb(9, 8, 8);
}
.input__location {
  width: 150px;
  font-family: "roboto";
  border: none;
  font-size: 20px;
  background-color: #f4f4f4;
  line-height: 40px;
  font-weight: 700;
  padding-left: 10px;
}
.input__location::-moz-placeholder {
  color: rgb(9, 8, 8);
}
.input__location::placeholder {
  color: rgb(9, 8, 8);
}

.intro {
  background-color: #fcfafa;
  text-align: center;
  padding: 6px 0 60px 0;
}
.intro h2 {
  font-size: 30px;
  font-weight: 800;
  margin: 16px 40px;
}
.intro p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
  padding: 10px 20px 26px;
}
.intro__btn {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: azure;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 2px 2px;
  text-decoration: none;
  padding: 16px 20px;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
}
.intro__btn:hover {
  box-shadow: 0px 6px 2px 2px #d9d9d9;
  transform: scale(1.04);
  transition: all 400ms ease-in-out;
  background-image: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
}

/*box-shadows */
/* gradient purple */
/*icone font awesome */
/*picture menu page*/
.menu {
  counter-reset: steps;
}
.menu h2 {
  margin: 30px;
}
.menu ol {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 0;
}
@media screen and (min-width: 992px) {
  .menu ol {
    flex-direction: row;
    gap: 15px;
  }
}
.menu li {
  font-size: 18px;
  font-weight: 600;
  flex-grow: 1;
  border-radius: 26px;
  background-color: #f2f2f2;
  margin: 10px;
  padding: 16px 0;
  box-shadow: 0px 6px 2px 2px lightgrey;
}
.menu li::before {
  content: "" counter(steps);
  counter-increment: steps;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: azure;
  background-color: #9356dc;
  border-radius: 50%;
  right: 14px;
  padding: 4px 8px;
}
.menu li:hover {
  transform: scale(1.04);
  transition: all 400ms ease-in-out;
  background-color: #e4d5f6;
}
.menu li:hover i::before {
  color: #9356dc;
}
.menu i.fa {
  color: #737373;
  font-size: 22px;
  margin: 10px 10px;
  padding: 4px;
}

.restaurants {
  background-color: #f2f2f2;
  margin-top: 60px;
}
@media screen and (min-width: 992px) {
  .restaurants {
    border-radius: 20px;
  }
}
.restaurants h2 {
  margin: 30px;
  padding-top: 40px;
}
.restaurants__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 0 26px 60px 26px;
}
@media screen and (min-width: 992px) {
  .restaurants__list {
    flex-direction: row;
    row-gap: 50px;
    justify-content: space-around;
  }
}
.restaurants__list .news {
  position: relative;
}
.restaurants__list .news::before {
  content: "Nouveau";
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  background-color: #99e2d0;
  border-radius: 6px;
  color: #2a947a;
  top: 16px;
  right: 16px;
  padding: 8px 12px;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  background-color: #fcfafa;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 6px 2px 2px lightgrey;
}
@media screen and (min-width: 992px) {
  .restaurants .cards {
    flex-basis: 45%;
  }
}
.restaurants .cards:hover {
  transform: scale(1.04);
  transition: all 400ms ease-in-out;
}
.restaurants .cards__image {
  min-height: 150px;
  background-size: cover;
  background-position: center;
}
.restaurants .cards__image-1 {
  background-image: url("./../images/restaurants/menu-1.jpg");
}
.restaurants .cards__image-2 {
  background-image: url("./../images/restaurants/menu-2.jpg");
}
.restaurants .cards__image-3 {
  background-image: url("./../images/restaurants/menu-3.jpg");
}
.restaurants .cards__image-4 {
  background-image: url("./../images/restaurants/menu-4.jpg");
}
.restaurants .cards__body {
  position: relative;
}
.restaurants .cards__body h3 {
  padding: 10px 0 6px 0;
}
.restaurants .cards__body p {
  padding-bottom: 10px;
}
.restaurants .cards__body h3,
.restaurants .cards__body p {
  margin-left: 10px;
}
.restaurants .cards__btn::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f004";
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: inherit;
  opacity: 1;
  background-clip: text;
  transition: all 1600ms ease-in-out;
  -webkit-background-clip: text;
}
.restaurants .cards__btn::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f004";
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: transparent;
  opacity: 0;
  background-clip: text;
  transition: all 1600ms ease-in-out;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, rgb(147, 86, 220), rgb(255, 121, 218));
}
.restaurants .cards__btn:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

.menu-pages header {
  position: initial;
}
.menu-pages header .return:hover {
  transform: scale(1.04);
  transition: all 400ms ease-in-out;
}
.menu-pages header .return::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f060";
  position: relative;
  color: rgba(0, 0, 0, 0.734);
  font-size: 30px;
  margin-left: 30px;
}

.visual__meal img {
  width: 100%;
  max-height: 55vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu-list {
  background-color: #f2f2f2;
  padding: 16px 16px 60px 16px;
  border-radius: 16px 16px 0 0;
  margin-top: -25px;
  position: relative;
}
.menu-list__title {
  display: flex;
}
.menu-list .heart-place {
  position: relative;
  margin-left: auto;
  padding-right: 20px;
}
.menu-list .heart-place::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f004";
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: inherit;
  opacity: 1;
  background-clip: text;
  transition: all 1600ms ease-in-out;
  -webkit-background-clip: text;
}
.menu-list .heart-place::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f004";
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: transparent;
  opacity: 0;
  background-clip: text;
  transition: all 1600ms ease-in-out;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, rgb(147, 86, 220), rgb(255, 121, 218));
}
.menu-list .heart-place:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
.menu-list h1 {
  position: relative;
}
@media screen and (min-width: 992px) {
  .menu-list h1 {
    font-size: 34px;
    width: 100%;
    text-align: center;
  }
}
.menu-list h2 {
  font-size: 16px;
  font-weight: 400;
  padding-top: 26px;
  margin: 0;
  position: relative;
}
.menu-list h2::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0px;
  height: 6px;
  width: 40px;
  background-color: #99e2d0;
}

.Menu h4 {
  padding-bottom: 6px;
}
.Menu p {
  font-size: 14px;
}
.Menu h4, .Menu p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .Menu {
    display: flex;
    justify-content: space-around;
  }
}
.Menu__flex {
  -webkit-animation: appear 1200ms ease-in-out both;
          animation: appear 1200ms ease-in-out both;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.Menu__flex:nth-child(1) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.Menu__flex:nth-child(2) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
@media screen and (min-width: 992px) {
  .Menu__flex {
    width: 30%;
    gap: 36px;
  }
}
.Menu-item {
  display: flex;
  background-color: beige;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 6px 2px 2px lightgrey;
}
.Menu-item:hover {
  cursor: pointer;
}
.Menu-item__content {
  padding: 16px 8px;
  overflow: hidden;
}
.Menu-item__price {
  display: flex;
  align-items: flex-end;
  font-weight: 900;
  margin: 10px 20px 10px auto;
}
.Menu-item__check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  border-radius: 0 16px 16px 0;
  margin-right: -70px;
  background-color: #99e2d0;
  transition: all 1000ms;
}
.Menu-item__check-box .fa-solid {
  color: white;
  font-size: 28px;
}
.Menu-item:hover .Menu-item__check-box {
  margin-right: 0;
}
.Menu-item:hover .fa-solid {
  -webkit-animation: spinner 800ms ease-in-out;
          animation: spinner 800ms ease-in-out;
}

.order {
  display: flex;
  justify-content: center;
}
.order__btn {
  margin: 60px 0 20px;
  display: inline-block;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
  color: beige;
  text-decoration: none;
  padding: 16px 20px;
  border: none;
  box-shadow: 0px 6px 2px 2px lightgrey;
  background-image: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
}
.order__btn:hover {
  box-shadow: 0px 4px 2px 2px #a0a0a0;
  transform: scale(1.04);
  transition: all 400ms ease-in-out;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.86), rgba(255, 121, 218, 0.86));
}

@-webkit-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes appear {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes load {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes load {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  inset: 0;
  z-index: 1;
  opacity: 0.98;
  -webkit-animation: load 100ms 3s both;
          animation: load 100ms 3s both;
}
.loader::after {
  content: "";
  height: 120px;
  width: 120px;
  border-bottom: 8px solid #9356dc;
  border-left: 8px solid #ff79da;
  border-right: 8px solid #99e2d0;
  border-top: #f2f2f2;
  border-radius: 50%;
  -webkit-animation: spinner 1s infinite ease-in-out;
          animation: spinner 1s infinite ease-in-out;
}
/*# sourceMappingURL=main.css.map */